# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#local data file 
#policy.txt
resolvers.txt
smart_hosts.txt
blacklist_domain.txt
video.txt
