; This is a test configuration file

[main]

file_resolvers = resolvers.txt
file_policy = policy.txt
file_log = /var/log/dns-dispatch.log
file_pid = /var/run/dns-dispatch.pid

num_threads = 3

service_port = 53

tcpservice_port = 53

daemonize = yes 


;;What information do you want to log?
;;The following is from source code:
;;#define LOG_NONE    0
;;#define LOG_ERROR   1
;;#define LOG_QUERY   2
;;#define LOG_FORWARD 4
;;#define LOG_REPLY   8
;;#define LOG_INFO    16
;;#define LOG_MEASURE 32 
;;#define LOG_DEBUG   64 
;;set every bit to 1, then log anything:
;log_level = 127 
;; log error, query, forward, reply, measure: 15 + 32
;log_level = 47 

;[test]

;;This is a domain name which GFW will not like to block. 
;;You can replace with any other such names

